.chat-dashboard {
  min-height: 100%;
  min-width: 100%;

  &__background {
    min-height: 90.7vh;
    min-width: 100%;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(27,27,27,0.7);
    }
    &__messages {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      &__typing {
        color: white !important;
        padding: 20px 0;
      }
      &__message {
        color: white;
      }
    }
  }

  &__message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    &__inputgroup {
      flex-wrap: unset;
    }
    &__input {
      width: 500px;
    }
    &__button {
      background-color: #003366;
    }
  }
}
