.chat-dashboard {

  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.159);
  }

  &__messages {
    min-height: calc(100vh - 105px);
    max-height: calc(100vh - 105px);
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &__typing {
      color: $main-text-color !important;
      padding: 20px 0;
    }

    &__message {
      color: $main-text-color;
      font-size: 13px;
      margin-bottom: 20px;
      @extend .chat-bubble
    }

  }

  &__message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.6);

    &__inputgroup {
      flex-wrap: unset;
    }

    &__input {
      width: 500px;
      color: black;
    }

    &__button {
      @extend %custom-button
    }
  }

  &__waiting {
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $main-text-color;
    &__loader {
      margin-top: 20px;
    }
    &__message {
      font-size: 26px;
      text-align: center;
    }

  }

  &__chat-end {
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $main-text-color;
    &__message {
      font-size: 26px;
    }
    &__btn-find {
      margin-top: 20px;
      z-index: 3;
      @extend %custom-button
    }
  }
}
