.chat-dashboard {

  &__background {
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.159);
    }
    &__messages {
      min-height: calc(100vh - 105px);
      max-height: calc(100vh - 105px);
      overflow-y: scroll;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      &__typing {
        color: white !important;
        padding: 20px 0;
      }
      &__message {
        padding: 5px 0;
        color: white;
        font-size: 17px;
    }
  }
}

&__message-form {
  display: flex;
  justify-content: center;
  align-items: center;
  &__inputgroup {
    flex-wrap: unset;
  }
  &__input {
    width: 500px;
  }
  &__button {
    @extend %custom-button
  }
}
}
