.navbar-container {
  &__navbar {
    border-bottom: solid 1px white;
    font-family: 'Baloo', cursive;
    padding: 0 50px;
    width: 100%;
    height: 60px;

    &__auth-links {
      padding-left: 30px;
    }

    &__brand {
      display: flex;
      align-items: center;
      color: white !important;
      font-size: 25px;

      &__img {
        margin-right: 20px;
        width: 40px;
        height: 40px;
      }
    }

    &__button {
      @extend %custom-button
    }

    &__spotify-button {
      @extend .loginBtn;
      @extend .loginBtn--spotify;
      &__image {
        width: 30px;
      }
    }

    &__link {
      color: grey;
      padding-right: 20px;
      text-decoration: none;
      font-size: 16px;
      margin: 0 10px;
      &:hover {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    &__navbar {
      padding: 0 20px;

      &__brand {
        font-size: 18px;

        &__img {
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }
      }

      &__link {
        font-size: 13px;
        padding-right: 0;

      }
    }
  }
}


