.login {
  min-height: calc(100vh);
  display: flex;
  justify-content: center;

  &__form {
    background-color: $light_color;
    width: 400px;
    border-radius: 5px;
    height: 100%;
    padding: 30px;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__fb-btn {
      @extend .loginBtn;
      @extend .loginBtn--facebook;
    }
    &__header {
      text-align: center;
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .login-container {

  }
}
