.login-container {
  min-height: calc(100vh);
  background: url('~@/assets/ds1.jpg') no-repeat fixed center black;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .login-container {

  }
}
