.toptracks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

  &__header {
    color: $main-text-color;
    font-size: 24px;
    padding-bottom: 20px;
  }

  &__track {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      &__img {
        width: 200px;
        height: auto;

        &--clicked {
          opacity: 0.5;
        }
      }
    }

    &__play {
      width: 45px;
      height: 45px;
      margin-top: 10px;

      &__img {
        width: 40px;
        height: auto;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    &__name {
      text-align: center;
      width: 200px;
      padding-top: 10px;
      color: $main-text-color;
    }
  }
}

.VueCarousel-navigation-button {
  color: white !important;
  border-color: black !important;
  font-size: 35px;
  top: 40% !important;
  outline: 1px solid transparent !important;

  &:hover {
    color: $spotify-green-color !important;
  }
}

.VueCarousel-dot {
  outline: 1px solid transparent !important;
  margin: 20px 5px !important;
}

@media screen and (max-width: 1280px) {
  .toptracks {
    &__track {
      &__container {
        &__img {
          width: 150px;
        }
      }

      &__name {
        width: 150px;
        font-size: 14px;
      }
    }

  }

  @media screen and (max-width: 768px) {
    .toptracks {
      &__track {
        &__container {
          &__img {
            width: 100px;
          }
        }

        &__name {
          width: 100px;
          font-size: 12px;
        }

        &__play {
          width: 35px;
          height: 35px;

          &__img {
            width: 30px;
          }
        }
      }
      }
    }

  }



