.loginBtn {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  border: none;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Spotify */
.loginBtn--spotify {
  background-color: $spotify-green-color;
  font-family: 'Baloo', cursive;
  border: 2px solid $spotify-green-color !important;
  border-radius: 20px;
  padding: 5px 40px;
  margin: 0;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loginBtn--spotify:hover{
  transition: 0.3s;
  color: black;
  border: 2px solid $spotify-green-color !important;
  background-color: white;
}

%custom-button {
  color: $main-text-color;
  background: black;
  border: 1px solid $main-text-color;
  &:hover {
    color: black !important;
    background: $main-text-color !important;
  }
}

button {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}



