@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/cyborg/bootstrap.min.css');
@import "fonts.scss";
@import "colors.scss";
@import "buttons.scss";

.active-page {
  color: white !important;
}

#app {
  min-height: 100vh;
  background: url('~@/assets/ds1.jpg') no-repeat fixed center black;
  background-size: contain;
}
#content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  font-family: 'Capriola', sans-serif;
}
